<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add  name="HGWHConnectionString"
          connectionString="Data Source=HEGII-WHKF-SERV;User ID=sa;Initial Catalog=HEGII_WH"
          providerName="System.Data.OleDb" />
    <add  name="HGWHConnectionString-1"
      connectionString="Data Source=Localhost;User ID=sa;Initial Catalog=HEGII_WH"
      providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>